CAMDORIS_PROMPT_REGEX = "Local_[0-9]>[>]? $"
CAMDORIS_TEST_TRIGGER_CMD = "test trigger input"
CAMDORIS_COMPLIANT_CONFIG_LIST = [
    "Host:  192.168.10.9",
    "Username: Camdall1",
    "Fspec: Jubany_Station1_$SD-$ST.jpg",
    "[ 1]    X:  -680   Y:  -228    Width:   179    Height:   216",
    "Left:    30 Top:   720 RawWidth:   179 RawHeight:   216",
    "[ 2]    X:  -531   Y:  -245    Width:   142    Height:   189",
    "Left:   198 Top:   750 RawWidth:   142 RawHeight:   189",
    "[ 3]    X:  -344   Y:  -256    Width:   248    Height:   171",
    "Left:   332 Top:   770 RawWidth:   248 RawHeight:   171",
    "[ 4]    X:   -10   Y:  -280    Width:   467    Height:   139",
    "Left:   556 Top:   810 RawWidth:   467 RawHeight:   139",
    "[ 5]    X:   270   Y:  -314    Width:   243    Height:   119",
    "Left:   948 Top:   854 RawWidth:   243 RawHeight:   119",
    "[ 6]    X:   454   Y:  -338    Width:   204    Height:    99",
    "Left:  1152 Top:   888 RawWidth:   204 RawHeight:    99",
]
CAMDORIS_CONFIGURATION_CMD_LIST = [
    "set server name CAMDALL_B",
    # h264
    "set h264 enabled",
    "set h264 audio disabled",
    "set h264 audio bitrate 16",
    "set h264 video enabled",
    "set h264 video bitrate 1500",
    "set h264 video deblocking enabled",
    "set h264 video fps 30",
    "set h264 video iframe 1000",
    "set h264 video resolution vga",
    "set h264 video style vbr",
    "set h264 video prefer framerate",
    # image
    "set image jpegquality 80",
    "set image gamma 0.45",
    "set image lightgrabber 4x",
    "set image downsample 1",
    "set image sharpen high",
    "set image maxfps 10.00",
    "set image led activity",
    "set image analog pal",
    "set image density units inch",
    "set image density value 96",
    "set image flip none",
    "set image compression xlow",
    "set image nightmode enabled",
    "set image daynight mode auto",
    "set image daynight color disabled",
    "set image daynight daystart 00:00",
    "set image daynight dayend 00:00",
    "set image daynight output none",
    "set image heater mode auto",
    "set image heater threshold 40",
    "set image focushelp 2x",
    "set image correct hotpixel style left",
    "set image correct hotpixel count 20000",
    "set image comment type disabled",
    # image lighting
    "set image lighting frequency 50hz",
    "set image lighting saturate 1.50",
    "set image lighting auto enabled",
    "set image lighting auto method spot",
    # "set image lighting raw",
    "set image lighting bloom clean",
    # image window
    "set image window top 0",
    "set image window rawwidth 1472",
    "set image window rawheight 920",
    "set image window left 118",
    "set image window x 54",
    "set image window y 140",
    "set image window width 1472",
    "set image window height 920",
    # image gain
    "set image gain target 0.60",
    "set image gain auto enabled",
    "set image gain speed 100",
    "set image gain preference quality",
    "set image gain style clipaverage",
    "set image gain dcoff auto enabled",
    "set image gain dcoff  hold 0.063",
    "set image gain thresh disabled",
    "set image gain thresh day 0.00",
    "set image gain thresh night 0.00",
    "set image gain hmcenter 0.60",
    "set image gain hmwidth 0.60",
    "set image gain auto delay 0.00",
    # image overlay
    "set image overlay 1 enabled",
    "set image overlay 2 disabled",
    'set image overlay 1 text "$ST $SD"',
    'set image overlay 2 text ""',
    # image masks
    "set image mask 1 left 30",
    "set image mask 1 top 720",
    "set image mask 1 rawwidth 179",
    "set image mask 1 rawheight 216",
    "set image mask 1 x -680",
    "set image mask 1 y -228",
    "set image mask 1 width 179",
    "set image mask 1 height 216",
    "set image mask 2 left 198",
    "set image mask 2 top 750",
    "set image mask 2 rawwidth 142",
    "set image mask 2 rawheight 189",
    "set image mask 2 x -531",
    "set image mask 2 y -245",
    "set image mask 2 width 142",
    "set image mask 2 height 189",
    "set image mask 3 left 332",
    "set image mask 3 top 770",
    "set image mask 3 rawwidth 248",
    "set image mask 3 rawheight 171",
    "set image mask 3 x -344",
    "set image mask 3 y -256",
    "set image mask 3 width 248",
    "set image mask 3 height 171",
    "set image mask 4 left 556",
    "set image mask 4 top 810",
    "set image mask 4 rawwidth 467",
    "set image mask 4 rawheight 139",
    "set image mask 4 x -10",
    "set image mask 4 y -280",
    "set image mask 4 width 467",
    "set image mask 4 height 139",
    "set image mask 5 left 948",
    "set image mask 5 top 854",
    "set image mask 5 rawwidth 243",
    "set image mask 5 rawheight 119",
    "set image mask 5 x 270",
    "set image mask 5 y -314",
    "set image mask 5 width 243",
    "set image mask 5 height 119",
    "set image mask 6 left 1152",
    "set image mask 6 top 888",
    "set image mask 6 rawwidth 204",
    "set image mask 6 rawheight 99",
    "set image mask 6 x 454",
    "set image mask 6 y -338",
    "set image mask 6 width 204",
    "set image mask 6 height 99",
    # motion window
    "set image motion window 1 enabled",
    "set image motion window 1 left 486",
    "set image motion window 1 top 230",
    "set image motion window 1 rawwidth 736",
    "set image motion window 1 rawheight 460",
    "set image motion window 1 x 54",
    "set image motion window 1 y 140",
    "set image motion window 1 width 736",
    "set image motion window 1 height 460",
    "set image motion window 1 include on",
    "set image motion window 1 exclude off",
    "set image motion window 1 sensitivity auto",
    "set image motion window 1 size 1.00",
    'set image motion window 1 name "Window 1"',
    # network
    "set ip subnet mask 255.255.255.0",
    "set ip gateway 192.168.20.1",
    "set ip ipaddress 192.168.20.6",
    "set ip timeserver ipaddress 192.168.20.1",
    # ftp site and trigger
    "set ftp site trigger host 192.168.10.9",
    'set ftp site trigger fspec "Jubany_Station1_$SD-$ST.jpg"',
    'set ftp site trigger path ""',
    'set ftp site trigger username "Camdall1"',
    'set ftp site trigger password "Jubanyadm1"',
    "set trigger action FTP",
    "set trigger periodic 04:00:00",
    # save
    "save image",
    "save h264",
    "save ip security",
    "save ftp",
]
