# TELEGRAM
IZQUIERBOT_TOKEN = "<TOKEN>"
IZQUIERBOT_ADMIN_CHAT_ID_LIST = [123456789, 2345678901, 3456789012, 4567890123]

IZQUIERBOT_ADMIN_DEVICE_LIST = [
    "admin_device01",
    "admin_device02",
    "192.168.1.1",
    "192.168.1.2",
]
